:root {
    --bm-dark-color: #212121;
    --bm-light-color: #dddbdb;
    --bm-primary-color: #001E43;
    --bm-secondary-color: #ff993b;
}


main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
    min-height: 90vh;
}

/*-----NAVBAR STYLES---*/
.navbarBG {
  background: #E6DADA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #274046, #E6DADA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #274046, #E6DADA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}









/*----CHECKBOX COLORS----*/

.checklisticon{
    color: gray
}

/*----ICON COLORS----*/

.jsicon{
    color: #e2d304;
}

.bsicon{
    color: #800080;
}

.htmlicon{
    color: #ff4500;
}

.cssicon{
    color: #0b52d6
}

/*----Button Styles override Bootstrap Styles----*/
.btn-outline-primary{
    color: var(--bm-dark-color);
    border-color: var(--bm-dark-color) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus{
    border-color: cornflowerblue !important;
    background-color: var(--bm-dark-color);
 }


.btn-primary{
    color: white !important;
    background-color: gray!important;
    border-color: var(--bm-dark-color);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus{
    filter: brightness(1.1) !important;
    border-color: var(--bm-dark-color);
}



/*----FOOTER STYLES----*/
.footer{
    background: #E6DADA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-right: 1rem;
     color: var(--bm-light-color);
}



.sticky-footer {
    position: sticky;
    left:0;
    bottom: 0;
    width: 100%;
}

footer .social>a{
    color: var(--bm-dark-color);
    opacity: .75;

}

footer .social>a:hover{
    color: red;
    opacity: .90;
}
